
    @media (max-width: 640px) {
        .header__buttons {
                display: none !important;
            }
        .header__title{
                font-family: NEXT ART;
                font-weight: 700 !important;
                font-size: 28px !important;
                line-height: 150% !important;
                letter-spacing: 0%;
        }    
        .header__subcard{
            >form div:nth-last-child(n+2){
                display: none !important;
            }
            >form{
                background-color: unset !important;
                backdrop-filter: unset !important;
            }
        }
        .header__nav{
            justify-content: space-between !important;
            >.header__logo{
                width: 84px !important;
                height: 44px !important;
                background-size: cover !important;
            }
            
        }
        .header__card{
            height: 70vh !important;
        }

        ///
        /// 
        /// 
        .about-tour{
            display: flex !important;
        }
        .about-tour__card{
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            align-items: center;
        }
        .about-tour__pic{
            display: none !important;
        }
        .about-tour__video-card{
            position: relative !important;
        }
        .about-tour__title{
            width: 350px !important;
        }
        .about-tour__button{
            position: relative;
            top: 20px;
        }
        .play-button{
            position: absolute;
            top: 40% !important;
            left: 50% !important;
        }


        ///
        /// 
        /// 

        .header__pop-up{
            display: block !important;
            position: absolute !important;
            top: 0;
            right: 0;
            display: flex !important;
            align-items: center;
            justify-content: start;
            transform: translate(90%) !important;
            transition: all 0.5s ease;
            z-index: 0 !important;
        }

        .header__pop-up-button:hover ~ .header__pop-up>div{
            
                transform: translate(0%) !important;
        }
        .header__pop-up-button{
            position: absolute !important;
            top: 0;
            right: 0;
            width: 30px !important;
            height: 30px !important;
            z-index: 15 !important;
        }


        ///
        /// 
        ///
        
        .offers{
            display: flex;

        }
        .offers__pic-card img{
            display: none;
        }
        .offers__subtitle{
            display: flex !important;
            justify-content: center !important;
            width: 100vw !important;
            .offers-tour_1{
                font-family: Nunito Sans;
                font-weight: 400;
                font-size: 16px !important;
                line-height: 20px;
                letter-spacing: 0%;
            }
            .offers-tour_2{
                font-family: Nunito Sans;
                font-weight: 800;
                font-size: 24px !important;
                line-height: 120%;
                letter-spacing: 0%;
            }
            .offers-tour_3{
                font-family: Nunito Sans;
                font-weight: 400;
                font-size: 16px !important;
                line-height: 150%;
                letter-spacing: 0%;
            }
            h4{
                font-family: Nunito Sans;
                font-weight: 700;
                font-size: 18px !important;
                line-height: 20px;
                letter-spacing: 1.2%;
            }
            .offers__option{
                p{
                    font-family: Nunito Sans;
                    font-weight: 400;
                    font-size: 14px !important;
                    line-height: 20px;
                    letter-spacing: 0%;
                }
            }
        }
        .offers__button{
            display: none;
        }
        .offers__button-mob{
            width: 200px;
            height: 52px;
            border: none;
            padding: 5px;
            background-color: #1A3E3E;
            color: #FDFDFD;
            font-size: 16px;
            display: block !important;
        }
    }




@mixin md {
    @media screen and (min-width: 768px) {
        @content
    }
}

@mixin lg {
    @media screen and (min-width: 1024px) {
        @content
    }
}

@mixin xl {
    @media screen and (min-width: 1280px) {
        @content
    }
}

@mixin xxl {
    @media screen and (min-width: 1440px) {
        @content
    }
}
