
    @media (max-width: 640px) {
        .header__buttons {
                display: none;
            }
        .header__title{
            font-size: 5px !important;
        }    
        .header__subcard{
            display: none !important;
        }
        .about-tour{
            display: none !important;
        }
    }




@mixin md {
    @media screen and (min-width: 768px) {
        @content
    }
}

@mixin lg {
    @media screen and (min-width: 1024px) {
        @content
    }
}

@mixin xl {
    @media screen and (min-width: 1280px) {
        @content
    }
}

@mixin xxl {
    @media screen and (min-width: 1440px) {
        @content
    }
}
