
    @media (max-width: 640px) {
        html{
            width: 100vw !important;
        }
        .header__buttons {
                display: none !important;
            }
        .header__title{
                font-family: NEXT ART;
                font-weight: 700 !important;
                font-size: 28px !important;
                line-height: 150% !important;
                letter-spacing: 0%;
        }    
        .header__subcard{
            >form div:nth-last-child(n+2){
                display: none !important;
            }
            >form{
                background-color: unset !important;
                backdrop-filter: unset !important;
            }
        }
        .header__nav{
            justify-content: space-between !important;
            >.header__logo{
                width: 84px !important;
                height: 44px !important;
                background-size: cover !important;
            }
            
        }
        .header__card{
            height: 70vh !important;
        }

        ///
        /// 
        /// 
        .about-tour{
            display: flex !important;
        }
        .about-tour__card{
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            align-items: center;
        }
        .about-tour__pic{
            display: none !important;
        }
        .about-tour__video-card{
            position: relative !important;
        }
        .about-tour__title{
            width: 350px !important;
        }
        .about-tour__button{
            position: relative;
            top: 20px;
        }
        .play-button{
            position: absolute;
            top: 40% !important;
            left: 50% !important;
        }


        ///
        /// 
        /// 

        

        


        ///
        /// 
        ///
        
        .offers{
            display: flex !important;
            justify-content: center !important;
        

        }
        .offers__pic-card img{
            display: none;
        }
        .offers__subtitle{
            display: flex !important;
            justify-content: center !important;
            
            .offers-tour_1{
                font-family: Nunito Sans;
                font-weight: 400;
                font-size: 16px !important;
                line-height: 20px;
                letter-spacing: 0%;
            }
            .offers-tour_2{
                font-family: Nunito Sans;
                font-weight: 800;
                font-size: 24px !important;
                line-height: 120%;
                letter-spacing: 0%;
            }
            .offers-tour_3{
                font-family: Nunito Sans;
                font-weight: 400;
                font-size: 16px !important;
                line-height: 150%;
                letter-spacing: 0%;
            }
            h4{
                font-family: Nunito Sans;
                font-weight: 700;
                font-size: 18px !important;
                line-height: 20px;
                letter-spacing: 1.2%;
            }
            .offers__option{
                p{
                    font-family: Nunito Sans;
                    font-weight: 400;
                    font-size: 14px !important;
                    line-height: 20px;
                    letter-spacing: 0%;
                }
            }
        }
        .offers__button{
            display: none;
        }
        .offers__button-mob{
            width: 200px;
            height: 52px;
            border: none;
            padding: 5px;
            background-color: #1A3E3E;
            color: #FDFDFD;
            font-size: 16px;
            display: block !important;
        }

        ///
        /// 
        
        .popular{
            width: 100vw !important;
        }

        .swiper {
            width: 600px;
            height: 300px;
        }



        ///
        
        .actual{
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            width: 358px !important;
            position: relative !important;
            top: 0px !important;
        }
        .actual__title{
            width: 80% !important;
        }
        .actual__form{
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            width: 100% !important;
        }
        .actual__form1{
            display: flex !important;
            flex-direction: column !important;
        }
        .actual__email-card{
            display: flex !important;
            flex-direction: column !important;
            align-items: center;
            width: 100% !important;
        }
        .actual__email{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            width: 100% !important;
        }
        .actual__email{
            width: 80% !important;
        }
        .actual__subtitle{
            width: 80% !important;
        }

        ///
        /// 
        footer{
            min-height: 900px !important;
            align-items: start !important;
        }
        .footer__card{
            flex-direction: column !important;
            align-items: center !important;
            min-height: 120% !important;
            padding-top: 50px !important;
        }
        .footer__about{
            width: 70% !important;
            align-items: center !important;
        }

        .report__gallery-wrapper{
            position: relative !important;
                overflow: hidden !important;
                width: 100% !important;
        }
        .report__photo-grid{
            display: flex !important;
                gap: 10px;
                scroll-snap-type: x mandatory !important;
                overflow-x: auto !important;
        }
        .report__photo-grid div {
                flex: 0 0 auto !important;
                scroll-snap-align: start !important;
            }
        .report__photo-grid::-webkit-scrollbar {
                display: none;
            }
        .popular__direction-common {
            position: relative !important;
            overflow: hidden !important;
            width: 100% !important;
        }
        .popular__direction{
            display: flex !important;
            gap: 10px;
            scroll-snap-type: x mandatory !important;
            overflow-x: auto !important;
        }
        .popular__direction div{
            flex: 0 0 auto !important;
                scroll-snap-align: start !important;
        }
        .popular__direction{
            gap: unset !important;
        }
        .popular__direction::-webkit-scrollbar {
                display: none;
            }
        .popular__title{
            display: flex !important;
            flex-direction: column !important;
            >.popular__title1{
                font-family: Nunito Sans;
                    font-weight: 400;
                    font-size: 16px !important;
                    line-height: 20px;
                    letter-spacing: 0%;
            }
            >.popular__title2{
                font-family: Nunito Sans;
                    font-weight: 800;
                    font-size: 24px !important;
                    line-height: 120%;
                    letter-spacing: 0%;
            }
        }
        .blog__card-common{
            width: 100% !important;
            position: relative !important;
            overflow: hidden !important;
        }
        .blog__card{
            display: flex !important;
            width: 100% !important;
            scroll-snap-type: x mandatory !important;
            overflow-x: auto !important;
        }
        .blog__item{
            flex-direction: column;
            min-width: 370px !important;
            >img{
                width: 100% !important;
            }
        }
        .blog__item-title{
            width: 100% !important;
        }
        .blog__card::-webkit-scrollbar {
                display: none;
            }





        ///
        .burger {
            display: none;
            flex-direction: column;
            cursor: pointer;
            z-index: 1001; 
            position: fixed;
            top: 20px;
            right: 60px;
            transition: transform 0.3s ease;
        }

        .burger div {
            width: 30px;
            height: 3px;
            background: white;
            margin: 5px 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .burger.open div:nth-child(1) {
            transform: translateY(8px) rotate(45deg) !important;
        }

        .burger.open div:nth-child(2) {
            opacity: 0;
        }

        .burger.open div:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }

        .sidebar {
            visibility: visible !important;
            position: fixed !important;
            top: 0;
            left: -100% !important;
            width: 100% !important;
            height: 100% !important;
            background: rgba(46, 125, 50, 0.95);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: left 0.5s ease;
            z-index: 1000; 
        }

        .sidebar.open {
            left: 0 !important;
        }

        .sidebar a {
            display: block !important;
            margin: 20px 0;
            color: white;
            text-decoration: none;
            font-size: 24px;
        }

    }
    @media (max-width: 900px) {
            .nav {
                display: none;
            }

            .burger {
                display: flex;
            }
        }




@mixin md {
    @media screen and (min-width: 768px) {
        @content
    }
}

@mixin lg {
    @media screen and (min-width: 1024px) {
        @content
    }
}

@mixin xl {
    @media screen and (min-width: 1280px) {
        @content
    }
}

@mixin xxl {
    @media screen and (min-width: 1440px) {
        @content
    }
}
