
@import "minireset";
@import "responsive";

@font-face {
    font-family: next-art-reg;
    src: url(../fonts/nextart/NEXT\ ART_Bold.otf);
    font-weight: 700;
}


*{
    font-family: "Nunito Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
}

.header__card{
    
    height: 100vh;
    background-image: url(/img/Rectangle1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.header__title-card{
    height: 150px;
    display: flex;
    justify-content: center;
}
.header__logo{
    background-image: url(/img/logo.svg);
    width: 137px;
    height: 72px;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 20px;
}

.header__buttons{
    width: 831px;
    height: 44px;
    display: flex;
    gap: 20px;
}
.header__buttons > button:nth-last-child(n+2){
   
    background-color: transparent;
    border: none;
    color: #FDFDFD;
    font-size: 18px;
    font-weight: 300;
}

.header__buttons>button:nth-last-child(1){
    width: 157px;
    height: 44px;
    border-radius: 4px;
    border: none;
    background-color: #1A3E3E;
    color: #FDFDFD;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.2%;
    font-weight: 400;
}


.header__buttons > button:nth-last-child(n+2)::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #072e2e;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.header__buttons>button:hover::after{
    transform: scaleX(1);
}

.header__title{
    box-sizing: border-box;
    width: 1080px;
    height: 150px;
    text-align: left;
    
    font-family: next-art-reg;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 2%;
    line-height: 150%;
    color: #FDFDFD;
}

.header__subcard{
    display: flex;
    justify-content: center;
}
.tour-select{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;
    width: 1180px;
    height: 161px;
    background-color: rgba(250, 250, 250, 0.2);
    backdrop-filter: blur(3px);
    color: #FDFDFD;
    div{
        width: 270px;
        height: 81px;
        display: flex;
        flex-direction: column-reverse;
        >label{
            font-weight: 400;
        }
    }
    select, input{
        width: 270px;
        height: 52px;
        color: #FDFDFD;
        background-color: rgba(0, 0, 0, 0.3);
        border: none;
        border-radius: 4px;
        padding: 15px;
        line-height: 150%;
        font-size: 16px;
        font-weight: 400;
    }
    .tour-select__button{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 8px;
        >button {
            width: 213px;
            height: 52px;
            border: none;
            line-height: 150%;
            font-size: 16px;
            font-weight: 400;
            border-radius: 4px;
        }
    }
}

.about-tour{
    display: flex;
    
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    .about-tour__card{
        width: 1180px;
        display: flex;
        
        
        
        gap: 100px;
    }
    .about-tour__title{
        display: flex;
        justify-content: center;
        width: 580px;
    }
    .about-tour__subtitle{
        margin-top: 50px;
    }
}
.about-tour__video{
   position: relative;
   width: 480px;
   height: 526px;
    
    .about-tour__pic{
        width: 350px;
        height: auto;
       
    }
    .about-tour__video-card{
        width: 350px;
        height: 400px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
}

.about-tour__subtitle, .offers__subtitle, .popular, .blog{
    .about-tour_1, .offers-tour_1, .popular__title1, .blog__title1{
        font-size: 24px;
        font-weight: 400;
        color: #F2BE22;
    }
    .about-tour_2, .offers-tour_2, .popular__title2, .blog__title2{
        font-size: 32px;
    }
    .about-tour_3, .offers-tour_3{
        font-size: 18px;
        line-height: 150%;
        font-weight: 400;
    }
    .about-tour__button, .offers__button, .popular__button, .blog__button{
        width: 200px;
        height: 52px;
        border: none;
        padding: 5px;
        background-color: #1A3E3E;
        color: #FDFDFD;
        font-size: 16px;
    }
}
.play-button {
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translate(-50%, -50%);
    background: rgba(253, 253, 253, 0.6);
    padding: 15px 20px;
    border-radius: 50%;
    font-size: 24px;
    color: black;
    cursor: pointer;
    text-decoration: none;
}


.offers{
    background-color: #F3F5F4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .offers__subtitle{
        width: 580px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}


.offers__gid, .offers__security, .offers__cost  {
    display: flex;
    gap: 15px;
    
}
.offers__option{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 20px;
}
.offers__pic-card{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    >img{
        transition: all 0.5s ease;
    }
}

.offers__pic-card>img:hover{
    scale: 1.05;  
}
.offers__sub-gid .offers__sub-security .offers__sub-cost {
    display: flex;
}
.offers_pic{
    width: 50px;
    height: 50px;
}

.offers_1{
font-family: Nunito Sans;
font-weight: 700;
font-size: 18px;
line-height: 20px;
letter-spacing: 1.2%;
}

.offers_2{
    font-family: Nunito Sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
}

.popular {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.popular__card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popular__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
}

.star{
    position: absolute;
    top: 5%;
    text-align: center;
    right: 0;
    width: 65px;
    height: 32px;
    background-color: rgba(43, 41, 41, 0.2);
    backdrop-filter: blur(5px);
    color: #FDFDFD;
    >img{
        background-color: #F2BE22;
        border-radius: 50%;
    }
}

.popular__direction {
    display: flex;
    gap: 30px;
}

.popular__direction-card {
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.popular__description {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 380px;
    height: 90px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(43, 41, 41, 0.2);
        backdrop-filter: blur(5px);
        color: #FDFDFD;
}


.description {
    display: flex;
    flex-direction: column;
    font-family: Nunito Sans;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: 0%;
        >span{
            font-family: Nunito Sans;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0%;
        }
    transition: scale ease 0.4s;
}
.description:hover{
    scale: 1.2;
}

.price {
    width: 86px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(43, 41, 41, 0.2);
        backdrop-filter: blur(10px);
        color: #cecece;
        border-radius: 10px;
}

.popular__button-card, .blog__button-card{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    
}

.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding-top: 25px;
    background-color: #F3F5F4;
    gap: 20px;
    
}
.blog__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding-top: 20px;
}

.blog__item {
    width: 580px;
    display: flex;
    gap: 20px;
    padding: 15px;
    >img {
            border-radius: 13px;
        }
    transition: all ease 0.5s;
}
.blog__item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    scale: 1.02;
    background-color: #FDFDFD;
}

.blog__item-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-title1 {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    transition: all .3s ease;
}
.item-title1:hover{
    text-decoration: underline 2px;
}

.item-title2 {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}

.item-title3 {
    display: flex;
    justify-content: space-between;
}

.item-subtitle1 {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #F2BE22;
}

.item-subtitle2 {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
}